// app global css

.text-inset-1
  color darken($grey-10, 10%)

.bg-inset-1
  background darken($grey-10, 10%)

.text-inset-2
  color darken($grey-10, 20%)

.bg-inset-2
  background darken($grey-10, 20%)
